.torn-image-container {
  position: relative;
}

.torn-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center top;
  user-select: none;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
